


/* Right Bar */

.rightBar{
    height: calc(100vh - 65px);
    position: fixed;
    right: 0;
    top: 65px;
    width: 25vw;
    background-color: rgb(243, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}




.friendRequest{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: "rgb(243, 232, 232)";
    width: 22vw;
    padding: 5px;
}